body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#buttons {
  position: fixed;
  font-size: 20px;
  z-index: 10;
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end; */
  /* height: 100vh;  */
  right: 5vw;
  bottom: 5vw;
}

#addButton {
  background: rgb(149, 142, 255);
  width: 13vw;
  height: 13vw;
  font-size: 10vw;
  border-radius: 10vw;
  border: none;
  color: #ffffff;
}

#addButton:hover {
  background: #bcb9ff;
  color: #303030;
  cursor: pointer;
}
