body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#buttons {
  position: absolute;
  bottom: 30px;
  right: 40vw;
  font-size: 20px;
  z-index: 10;
}

#addButton {
  background: white;
  width: 90px;
  height: 90px;
  font-size: 60px;
  border-radius: 80px;
  border: none;
  color: #303030;
  /* position: absolute;
  right: 0px; */
}

#addButton:hover {
  background: #e0e0e0;
  color: #303030;
}
