*{
    list-style: none;
    text-align: center;
    font-family: "CRYSRG";

}

@font-face {
 font-family: "CRYSRG";
 src: url("fonts/CRYSRG__.TTF");
}

body {
    background: linear-gradient(rgb(149, 142, 255),rgb(143, 160, 255));
    height: 100vh;
    width: 100vw;
}

.maintext {
    color: rgb(143, 160, 255);
    font-family: "CRYSRG";
}

.container {
    text-align: center;
    vertical-align: middle; /*FIX ALIGNMENT*/
    
    justify-content: center;
    line-height: 115px;
    border-radius: 30px;
    background: rgb(255, 255, 255,0.8);
    height: 15vh;
    width: 35vw;
    margin: 0px;
    font-family: "CRYSRG";
    overflow:auto
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    padding: 0px;
}

.spacer {
    height: 45vh;
}

button {
    border: none;
    outline: none;
    background: rgba(0,0,0,0);
    font-size: 35pt;
    padding: 20px 20px;
    color: rgba(255, 255, 255,0.8);
}

button:hover {
    cursor: pointer;
}

#startButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#logo {
    /* max-width: fit-content;
    max-height:max-content */
    
}